/*
 *Name: [Jacob Harms]
 *UnityID: [jaharms]
 *Date: [11/08/24]
 *Assignment: [Project 4(HTML and Styling)]
 *Description: [Webpages Project]
 */
 
p {
    color: #d5acbd;
}

.table-border {
    border:1px solid #cc13ff;
}

#photo-resize {
    max-width:200px;
    max-height:250px;
}

